[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
jinja2 = "*"
flask-wtf = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.9"
